{% extends "base.twig" %}

{% block content %}
	<div class="container py-5">
		<h1 class="mb-4 page_title">
			{{post.title}}
		</h1>
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" style="aspect-ratio: {{ getAspectRatio(post.thumbnail.width, post.thumbnail.height) }};" src="{{ post.thumbnail.src("large") }}" alt="{{ post.thumbnail.alt }}">
      </div>
      <div class="col-md-6">
			  {{post.content}}
      </div>
    </div>
	</div>
{% endblock %}
