{% extends "base.twig" %}

{% block content %}
	<div class="container py-5">
		<h1 class="mb-4 page_title">
			{{post.title}}
		</h1>
		<div>
      {% if post.get_field('video') %}
	  <div class="d-flex">
		<div class="redif-frame ratio ratio-custom">
			<div class="iframe-container">
				<div class="ratio ratio-16x9">
				{{post.get_field('video')}}
				</div>
			</div>
		</div>
		<h2 class="title_redif">Rediffusion du live</h2>
	  </div>
      {% endif %}
		<div class="container page_desc my-3 my-md-5">
			{{post.content}}
		</div>
		</div>
	</div>
	{% if post.get_field('videomaton') %}
		{% include 'parts/title-banner.twig' with { title: "Videomaton" } %}
    <div class="vm py-5">
      <div class="container my-5">
        <div class="row">
          {% for item in post.get_field('videomaton') %}
            <div class="col-6">
              <div class="vm_block">
                <div class="ratio ratio-1x1">
                {{ item.video }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
	{% endif %}

	{% if projects %}
		{% include 'parts/title-banner.twig' with { title: "Travaux" } %}
		<div class="container py-5">
			<div class="grid inside-gallery">
				<div class="grid-sizer"></div>
				{% for project in projects %}
					<div class="grid-item">
						<a class="project-teaser" href="{{ project.link }}">
              <div class="project-thumbnail">
							  <img loading="lazy" style="aspect-ratio: {{ getAspectRatio(project.thumbnail.width, project.thumbnail.height) }};" src="{{ project.thumbnail.src("medium") }}" alt="{{ project.thumbnail.alt }}">
              </div>
							<div class="project-data">
								<span>
									{{ project.terms('subjects')[0].name }}
								</span>
								-
								<span>
									{{ project.title }}
								</span>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}

{% endblock %}
