{% extends "base.twig" %}

{% block content %}
  {% if archive_page_url %}
    <div class="container mt-5 mb-5 mb-lg-3 p-0 d-flex justify-content-center justify-content-lg-start">
      <a href="{{ archive_page_url }}" class="jpo_btn ml-0">
        ← {{ archive_page_name }}
      </a>
    </div>
  {% endif %}
  <div class="container mb-5">
    <div class="row project-cartouche">
      <div class="col-lg-8 project-slider p-0">
        {% include 'components/galerie-slider.twig' with {galerie: post.get_field("galerie")} %}
      </div>
      <div class="col-lg-4 p-4 project-infos">
        <div class="mb-3">
          <h1>{{ post.title }}</h1>
          <span class="badge badge-dark">
            {{ post.terms("years")[0].name }}
          </span>
          <span class="badge">
            {{ post.terms("subjects")[0].name }}
          </span>
        </div>
        <div>
          {{ post.content }}
        </div>
      </div>
    </div>
{% endblock %}
