<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="col">
          <div class="row">
            <div class="d-flex justify-content-center align-items-center footer_cta_lg">
              <div class="col">
                <div class="d-flex justify-content-center footer_logos">
                  <img src="{{ theme.link }}/dist/img/logo_eikon.svg" alt="logo d'eikon.">
                </div>
              </div>
              <div class="col">
                <div class="d-flex justify-content-center footer_logos">
                  <img src="{{ theme.link }}/dist/img/logo_etatfr.svg" alt="logo de l'Etat de Fribourg.">
                </div>
              </div>
          </div>
        </div>
        </div>
        <div class="col">
        <div class="d-flex justify-content-center">
          {{options.adresse}}
        </div>
        </div>
        <div class="col">
          <div class="footer_cta">
            <p>Suivez-nous sur :</p>
            <div class="footer_cta_sn">
              <div class="row">
                <div class="col">
                  <a href="https://fr-fr.facebook.com/eikon.fribourg/" target="_blank"><img src="{{ theme.link }}/dist/img/cta_facebook.svg" alt="logo de Facebook."></a>
                </div>
                <div class="col">
                  <a href="https://www.instagram.com/eikon.fribourg/?hl=fr" target="_blank"><img src="{{ theme.link }}/dist/img/cta_instagram.svg" alt="logo d'Instagram."></a>
                </div>
                <div class="col">
                  <a href="https://ch.linkedin.com/company/eikonschool" target="_blank"><img src="{{ theme.link }}/dist/img/cta_linkedin.svg" alt="logo de Linkedin."></a>
                </div>
              </div>
            </div>
            <p>
              <a href="https://www.fr.ch/eikon/inscriptions-online" target="_blank">→ Inscription</a>
            </p>
         </div> 
        </div>
      </div>
    </div>
  </div>
</footer>
