<div class="container-fluid tb_bloc">
    <div class="row">
        <div class="col">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col">↓</div>
        <div class="col">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col">↓</div>
        <div class="col">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col">↓</div>
        <div class="col">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col">↓</div>
        <div class="col">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col">↓</div>
        <div class="col">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col">↓</div>
        <div class="col">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
    </div>
</div>