<div class="container-fluid tb_bloc">
    <div class="row">
        <div class="col">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col d-none">↓</div>
        <div class="col d-none">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col d-none d-sm-block">↓</div>
        <div class="col d-none d-sm-block">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col d-none d-md-block">↓</div>
        <div class="col d-none d-md-block">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col d-none d-lg-block">↓</div>
        <div class="col d-none d-lg-block">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col d-none d-xl-block">↓</div>
        <div class="col d-none d-xl-block">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
        <div class="col d-none d-xxl-block">↓</div>
        <div class="col d-none d-xxl-block">
            <h2 class="tb_title">{{ title }}</h2>
        </div>
    </div>
</div>
